.CommentComponent {
    height: 200px;
    width: 95%;
    margin-left: 2.5%;
}

.CommentTextArea {
    background-color: #faf1c0;
    height: 150px;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
}

.TitleText {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}