.ConfirmationDeleteComponent {
    height: 600px;
    width: 600px;
    text-align: center;
    border: 2px solid black;
}

h3{
    font-size: 2rem;
}

.checkmark {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    content:url(../../assets/checkmark.gif)
}

.congrats {
    margin-top: 80px;
}

.success {
    margin-top: 40px;
}