.contain {
	display: flex;
	justify-content: center;
	margin-top: 30px;
    border: 2px solid black;
    width: 300px;
}
.capt {
	width: 160px;
	height: 72px;
	font-size: 1.1rem;
	background-color: #ffffff;
	border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
#refresh {
	float: left;
	background-color: #2C31CF;
	height: 82px;
	border-radius: 0 5px 5px 0;
}
#refresh img {
	margin-top: 20px;
	cursor: pointer;
}
.textinput {
	width: 160px;
	height: 50px;
	font-size: 1.1rem;
	background-color: #ffffff;
	border: none;
	margin-left: 10px;
	border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
	color: #000000;
}
.contain button {
    font-family: "Kollektif";
    font-size: 1.1rem;
	padding: 8px 20px;
	height: 30px;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	margin-left: 10px;
	margin-top: 5px;
    margin-bottom: 20px;
	background-color: #C9411D;
	color: #CED4F0;
	transition: .5s;
}
.contain button:hover {
	background-color: #976216;
}

.captcha{

}
