.PostCreateComponent {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
}

.PostCreateComponentTitle {
    color: #363773;
}

.PostCreateDescription {
    margin-top: 1rem;
    width: 350px;
}

.PostCreateTitleHr {
    display: block;
    margin-top: 2rem;
    border-color: #000000;
}