.PostCreateComponent {
    text-align: center;
    margin-top: 4rem;
}

.PostCreateComponentTitle {
    color: #363773;
}

.PostCreateDescription {
    margin-top: 1rem;

}

.PostCreateTitleHr {
    margin-top: 1rem;
    border-color: #000000;
}

.CreatePostForm {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.uploadFile {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
}


.photoCameraIcon{
    color: black;
}

.logo {
    height: 150px;
    pointer-events: none;
  }