.App {
  text-align: center;
  width: 700px;
  margin-left: calc(50% - 350px);
  border: 1px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*================ FONT FAMILY ================*/
@font-face {
  font-family: "BobbyJonesSoft";
  src: local("BobbyJonesSoft"), url(./fonts/BobbyJonesSoft.otf) format("truetype");
}

@font-face {
  font-family: "Kollektif";
  src: local("Kollektif"), url(./fonts/Kollektif.ttf) format("truetype");
}

  /*================ VARIABLE CSS ================*/
:root {
  --header-height: 1rem;

  /*=========== Colors ===========*/
  --mayo-navy-color: #363773;
  --mayo-yellow-color: #F0DA3B;
  --mayo-ivory-color: #FFFBEA;
  --mayo-yellow-background-color: #faf1c0;
  --mayo-red-color: #C9411D;
  --text-color: #000000;
  --text-grey-color: #8A887F;

  /*=========== Font Size ===========*/
  --big-font-size: 2rem;
  --body-font-size: 1rem;
  --small-font-size: .75rem;
}

/*=========== Button ===========*/
  
  
/*================ BASE ================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: "Kollektif";
  font-size: var(--body-font-size);
  background-color: var(--mayo-yellow-color);
}

#logo {
  margin: var(--header-height) 0 0 0;
  width: 200px;
}